In [1]:
dataset_path = "./dataset"
dataset_original = "{}/{}".format(dataset_path, 'ethnicity.csv')
dataset_original

'./dataset/ethnicity.csv'

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(dataset_original)
df

,age,ethnicity,gender,img_name,pixels
0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...
23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...
23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...

In [3]:
names_ethnicity = ['White', 'Black', 'Asian', 'Indian', 'Other']
ethnicity_unique = df['ethnicity'].unique()
ethnicity_unique = np.sort(ethnicity_unique)
ethnicity_unique

array([0, 1, 2, 3, 4])

In [4]:
for x in ethnicity_unique:
  print(f'id: {x} value: {names_ethnicity[x]}')

id: 0 value: White
id: 1 value: Black
id: 2 value: Asian
id: 3 value: Indian
id: 4 value: Other

In [5]:
def ethnicity_remove(num, filename):
    df_no_ethnicity = df[df.ethnicity !=  num]
    df_no_ethnicity.to_csv(filename)
    print (f"file saved at {filename} ")

In [6]:
def ethnicity_unique(df):
    ethnicity_unique = df['ethnicity'].unique()
    ethnicity_unique = np.sort(ethnicity_unique)
    for x in ethnicity_unique:
        print(f'id: {x} value: {names_ethnicity[x]}')

## Remove 'white', ethnicity=0

In [7]:
csv_no_white = "{}/{}".format(dataset_path, 'ethnicity_no_white.csv')
ethnicity_remove(0, csv_no_white)

# Load file
no_white_df = pd.read_csv(csv_no_white)
ethnicity_unique(no_white_df)
no_white_df

file saved at ./dataset/ethnicity_no_white.csv
id: 1 value: Black
id: 2 value: Asian
id: 3 value: Indian
id: 4 value: Other

,Unnamed: 0,age,ethnicity,gender,img_name,pixels
0,0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...,...
13622,23686,96,2,1,20170110182504813.jpg.chip.jpg,157 46 16 3 3 148 138 64 17 5 126 191 189 197 ...
13623,23688,96,1,1,20170110183853718.jpg.chip.jpg,176 176 176 171 179 172 166 159 147 140 136 13...
13624,23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
13625,23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
13626,23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...

## Remove 'black', ethnicity=1

In [9]:
csv_no_black = "{}/{}".format(dataset_path, 'ethnicity_no_black.csv')
ethnicity_remove(1, csv_no_black)

# load file
no_black_df = pd.read_csv(csv_no_black)
ethnicity_unique(no_black_df)
no_black_df

file saved at ./dataset/ethnicity_no_black.csv
id: 0 value: White
id: 2 value: Asian
id: 3 value: Indian
id: 4 value: Other

,Unnamed: 0,age,ethnicity,gender,img_name,pixels
0,0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...,...
19174,23699,99,0,1,20170120134718759.jpg.chip.jpg,206 183 141 116 117 120 110 103 104 111 111 11...
19175,23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
19176,23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
19177,23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...
19178,23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...

## Remove 'Asian', ethnicity=2

In [11]:
csv_no_asian = "{}/{}".format(dataset_path, 'ethnicity_no_asian.csv')
ethnicity_remove(2, csv_no_asian)

# load file
no_asian_df = pd.read_csv(csv_no_asian)
ethnicity_unique(no_asian_df)
no_asian_df

file saved at ./dataset/ethnicity_no_asian.csv
id: 0 value: White
id: 1 value: Black
id: 3 value: Indian
id: 4 value: Other

,Unnamed: 0,age,ethnicity,gender,img_name,pixels
0,40,1,3,0,20161219224423280.jpg.chip.jpg,195 201 208 206 208 215 215 218 223 229 230 23...
1,41,1,3,0,20161219225121728.jpg.chip.jpg,67 76 87 98 105 111 116 121 128 135 137 140 14...
2,42,1,3,0,20161219225149888.jpg.chip.jpg,43 117 156 169 183 194 199 198 201 203 206 208...
3,43,1,3,0,20161219225241152.jpg.chip.jpg,118 120 123 123 126 127 127 128 130 128 127 12...
4,44,1,3,0,20161219225242908.jpg.chip.jpg,66 106 128 129 127 129 153 167 160 157 155 151...
...,...,...,...,...,...,...
20266,23698,99,0,1,20170120133837030.jpg.chip.jpg,234 229 217 187 205 210 217 204 183 166 169 16...
20267,23699,99,0,1,20170120134718759.jpg.chip.jpg,206 183 141 116 117 120 110 103 104 111 111 11...
20268,23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
20269,23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
20270,23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...

## Remove 'Indian', ethnicity=3

In [12]:
csv_no_indian = "{}/{}".format(dataset_path, 'ethnicity_no_indian.csv')
ethnicity_remove(3, csv_no_indian)

# load file
no_indian_df = pd.read_csv(csv_no_indian)
ethnicity_unique(no_indian_df)
no_indian_df

file saved at ./dataset/ethnicity_no_indian.csv
id: 0 value: White
id: 1 value: Black
id: 2 value: Asian
id: 4 value: Other

,Unnamed: 0,age,ethnicity,gender,img_name,pixels
0,0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...,...
19725,23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
19726,23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
19727,23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
19728,23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...
19729,23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...

## Remove 'Other', ethnicity=4

In [13]:
csv_no_other = "{}/{}".format(dataset_path, 'ethnicity_no_other.csv')
ethnicity_remove(4, csv_no_other)

# load file
no_other_df = pd.read_csv(csv_no_other)
ethnicity_unique(no_other_df)
no_other_df

file saved at ./dataset/ethnicity_no_other.csv
id: 0 value: White
id: 1 value: Black
id: 2 value: Asian
id: 3 value: Indian

,Unnamed: 0,age,ethnicity,gender,img_name,pixels
0,0,1,2,0,20161219203650636.jpg.chip.jpg,129 128 128 126 127 130 133 135 139 142 145 14...
1,1,1,2,0,20161219222752047.jpg.chip.jpg,164 74 111 168 169 171 175 182 184 188 193 199...
2,2,1,2,0,20161219222832191.jpg.chip.jpg,67 70 71 70 69 67 70 79 90 103 116 132 145 155...
3,3,1,2,0,20161220144911423.jpg.chip.jpg,193 197 198 200 199 200 202 203 204 205 208 21...
4,4,1,2,0,20161220144914327.jpg.chip.jpg,202 205 209 210 209 209 210 211 212 214 218 21...
...,...,...,...,...,...,...
22008,23700,99,0,1,20170120221920654.jpg.chip.jpg,127 100 94 81 77 77 74 99 102 98 128 145 160 1...
22009,23701,99,1,1,20170120134639935.jpg.chip.jpg,23 28 32 35 42 47 68 85 98 103 113 117 130 129...
22010,23702,99,2,1,20170110182418864.jpg.chip.jpg,59 50 37 40 34 19 30 101 156 170 177 184 187 1...
22011,23703,99,2,1,20170117195405372.jpg.chip.jpg,45 108 120 156 206 197 140 180 191 199 204 207...
22012,23704,99,0,1,20170110182052119.jpg.chip.jpg,156 161 160 165 170 173 166 177 183 191 187 18...